{% extends "password_reset/base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
	<form method="post" action="{{ url }}">
		{% csrf_token %}
        {{ form.as_p }}
		<p><input type="submit" value="{% trans "Recover my password" %}" class="btn btn-default"></p>
	</form>
{% endblock %}