<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <title>Password Recovery</title>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Password recovery</h3></div>
  <div class="panel-body">
  {% block content %}{% endblock %}
  </div>
</body>
</html>